[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ELmethodVar"]
	path = ELmethodVar
	url = https://github.com/jingru-zhang/elmethod
